<% provide(:title, "Восстановление пароля") %>
<div class="profile-head">
  Восстановление пароля
</div>
<div class="row">
  <div class="sign-up-form">
    <%= form_for(:password_reset, url: password_resets_path) do |f| %>
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.submit "Подтвердить", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>