<header class="top">
  <div class="icon">
    <%= link_to "Beliga", root_path %>
  </div>
  <div class="top-log-in">
    <div><%= link_to "Регистрация", "#" %></div>
    <div>или</div>
    <div><%= link_to "Войти в личный кабинет", "#" %></div>
  </div>
</header>